#menu ul {
  width: 200px;
  padding: 0px;
  list-style-type: none;
}
#menu li a {
  text-decoration: none;
  display: block;
  padding: 0.5em 1.5em;
  color: black;
  background: orange url("../img/seta.png") no-repeat 0.5em center;
}
#menu li a:hover {
  padding-left: 2.5em;
  color: white;
  background: darkorange url("../img/seta.png") no-repeat 1.5em center;
}
#menu li a:active {
  background-color: brown;
}

#home #menu li.home a,
#produtos #menu li.produtos a,
#carrinho #menu li.carrinho a,
#contato #menu li.contato a {
  padding-left: 2.5em;
  color: white;
  background: darkorange url("../img/seta.png") no-repeat 1.5em center;
}
